* {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-image: url(https://images.pexels.com/photos/4004375/pexels-photo-4004375.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover; /*cover the area of the element*/
	background-repeat: no-repeat;
	background-position: center;
}


.navbar {
	background: #131313;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	padding: 1rem 8 rem;


}

.navbar-fixed {
  top: 0;
  z-index: 100;
	position: fixed;
  width: 100%;
}

.navbar .navbar-brand {
	font-size: 2rem;
	margin-left: 1rem;
	
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #1ebba3;
}

#navbarTogglerDemo02 {
	margin: auto;
}

#navbarTogglerDemo02 a {
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	margin-right: 2rem;
}

 .heading-content {
 	top: 30%;
 	width: 100%;
 	max-width: 100%;
 	text-align: center;

 }

 .heading-content h2 {
 	font-size: 2em;
 	font-weight: 300;
 	color: #000;
 	font-family: monospace;
 	color: whitesmoke;
 	padding: .1rem;
 	font-family: 'Lato', sans-serif;
 	margin-top: 1rem;
 }

  .heading-content h4 {
 	font-size: 1.5em;
 	font-weight: bolder;
 	color: #000;
 	font-family: 'Montserrat', sans-serif;
 	color: whitesmoke;
 }

   .heading-content p {
 	font-size: 1em;
 	text-transform: uppercase;
 	font-weight: lighter;
 	color: #36454f;
 	word-spacing: 5px;
 	letter-spacing: 2px;
 	color: whitesmoke;
 	padding: 1rem;
 }

 #landing {
 	align-items: center;
 	margin-top: 5rem;
 	background: rgba(0, 0, 0, .3);

 }

 .rounded-circle {
 	border: 1px solid black; box-shadow: 1px 5px 5px #36454f
 }

#about {
	margin-top: 3rem;

}

 #about .img-fluid {
 	height: 300px;
 	width: 300px;
 }

#about .btn {
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;

}

#about .btn a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;

}

#about .btn:hover {
	border: 2px solid #1ebba3;
	cursor: pointer;

}

#gmap_canvas {
	height: 80vh;
	width: 80%;
	margin-top: 5rem;

}

html {
	scroll-behavior: smooth;
}

.logo-image img {
	width: 80px;
}

hr {
	width: 20%;
	margin-right: auto;
	margin-left: auto;
	outline-color: white;
	border-style: inset;
	border-width: 1px;
	margin-bottom: 5rem;
}

.post-heading  {
	text-align: center;
	color: whitesmoke;
}

#myphoto {
	width: 80vh;
	margin-left: auto;
}

#aboutmetext {
	color: whitesmoke;
	padding-right: 5rem;

}

.display-4 {
	margin-top: 5rem;
}

#visit-details {
	color: whitesmoke;

}

#contact-details {
	color: whitesmoke;
	margin-left: 2rem;
	margin-right: 2rem;

	
}

#contact-details h3 {
	text-transform: uppercase;
}

.faicons {
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
}

#tools h2 {
	text-align: center;
	color: white;
}

.card {
	margin-bottom: 1rem;
	padding: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}


.convo {
	margin-bottom: 1rem;
}

.convo h4 {
	margin-top: 2rem;
	text-transform: uppercase;
}

footer p {
	margin: auto;
	margin-top: 2rem;
	padding: 2rem;
}

